SERVER_PORT=8080

DB_URL=jdbc:mysql://mysql.railway.internal:3306/railway?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=K9mX4pQ7zR2vT8nB5cL1wY6aH3sD0fGj

CORS_ALLOWED_ORIGINS=https://socialconnect-green.vercel.app

JWT_SECRET=K9mX4pQ7zR2vT8nB5cL1wY6aH3sD0fGj

JWT_EXPIRATION=3600000

UPLOAD_DIR=uploads
REQUIRE_HTTPS=true
AUTH_COOKIE_SECURE=true
AUTH_COOKIE_SAME_SITE=None
